site:
  title: Antra-Demo
  url: https://aetos382.github.io/antora-test
  start_page: index.adoc

content:
  sources:
    - url: .

ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/master/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true